<div class="navbar">
  <%= link_to "Start", cars_path, class: "navbar-link" %>
  <%= link_to "Pot of Gold", favourites_path, class: "navbar-link" %>
</div>

<div class="background-image" style="background-image: linear-gradient(rgba(0, 0, 0, 9), rgba(248, 242, 132, 0.3)), url('<%= image_path "background.jpg" %>')">
  <div class="banner">
      <h1>THE RAINBOW <br> ROAD GARAGE</h1>
      <%= link_to "My favourite cars", favourites_path, class: "btn btn-primary"  %>
  </div>

  <div>
    <ol>
      <% @cars.each do |car| %>
        <%= link_to car_path(car) do %>
          <li> <%= car.brand %> <%= car.model %> </li>
          <% end %>
      <% end %>
    </ol>
  </div>

</div>
